body {
    font-family: "Bitcount Grid Double", sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.profile-card {
    background-color: #ffffff;
    border-left: 8px solid #005bac;
    /* 左側に太いアクセント線 */
    padding: 20px;
    /* 内側の余白 */
    margin: 20px 0;
    /* 外側の余白 */
    border-radius: 4px;
    /* 少しだけ角を丸める */
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    /* 柔らかい影 */
}

.profile_image {
    width: 100px;
    /* 画像の幅 */
    height: 100px;
    /* 画像の高さ */
    border-radius: 50%;
    /* 円形にする */
    object-fit: cover;
    /* 画像のアスペクト比を保ちつつ、枠に収める */
    margin-top: 15px;
    /* 上部の余白 */
    border: 2px solid #005bac;
    /* 画像の周りにアクセント線 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* 画像に柔らかい影 */
}

h1 {
    color: #005bac;
    border-bottom: 2px solid"#005bac";
    padding-bottom: 10px;
}

ul {
    background-color: #f4f7f6;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* リンクやボタンの装飾 */
a {
    color: #005bac;
    text-decoration: none;
    /* 下線を消す */
    transition: 0.3s;
    /* 変化を滑らかにする */
}

a:hover {
    color: #ff6b6b;
    /* マウスを乗せた時の色 */
    text-shadow: 0 0 5px rgba(255, 107, 107, 0.3);
}