body {
    font-family: "Bitcount Grid Double", sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.welcome-board {
    font-family: "Bitcount Grid Double", sans-serif;
    background-color: #fdf28d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #15f800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    gap: 20px;
    /* アイテム間のスペース */
    align-items: center;
    /* アイテムを垂直方向に中央揃え */
    justify-content: center;
    margin: 20px 0;
}

.balloon-side {
    position: relative;
    padding: 15px 20px;
    background: #ffeb3b;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.balloon-side::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
/* 三角形を左に向ける設定 */
    border-right: 10px solid #ffeb3b;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.profile-card {
    background-color: #ffffff;
    border-left: 8px solid #005bac;
    /* 左側に太いアクセント線 */
    padding: 20px;
    /* 内側の余白 */
    margin: 20px 0;
    /* 外側の余白 */
    border-radius: 4px;
    /* 少しだけ角を丸める */
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5);
    /* 柔らかい影 */
}

.profile-image {
    width: 100px;
    /* 画像の幅 */
    height: 100px;
    /* 画像の高さ */
    border-radius: 50%;
    /* 円形にする */
    object-fit: cover;
    /* 画像のアスペクト比を保ちつつ、枠に収める */
    margin-top: 15px;
    /* 上部の余白 */
    border: 2px solid #0560af;
    /* 画像の周りにアクセント線 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* 画像に柔らかい影 */
}

h1 {
    color: #005bac;
    border-bottom: 2px solid"#005bac";
    padding-bottom: 10px;
}

ul {
    background-color: #f4f7f6;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* リンクやボタンの装飾 */
a {
    color: #005bac;
    text-decoration: none;
    /* 下線を消す */
    transition: 0.3s;
    /* 変化を滑らかにする */
}

a:hover {
    color: #ff6b6b;
    /* マウスを乗せた時の色 */
    text-shadow: 0 0 5px rgba(255, 107, 107, 0.3);
}